.messages-list a.short {
  display: block;
  width: 300px;
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Обрезаем все, что не помещается в область */
  /*background: #fc0;  Цвет фона */
  padding: 5px; /* Поля вокруг текста */
  text-overflow: ellipsis; /* Добавляем многоточие */
}

aside.notes {
  display: none;
}